<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".VianApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.ime.settings.SettingsActivity"
            android:exported="false"
            android:label="Settings"
            android:theme="@style/Theme.MyApplication" />

        <activity
            android:name="com.example.ime.settings.LayoutCustomizationActivity"
            android:exported="false"
            android:label="Layout Customization"
            android:theme="@style/Theme.MyApplication" />

        <activity
            android:name="com.example.ime.settings.AppearanceSettingsActivity"
            android:exported="false"
            android:label="Appearance Settings"
            android:theme="@style/Theme.MyApplication" />

        <activity
            android:name="com.example.ime.settings.ToolbarSettingsActivity"
            android:exported="false"
            android:label="Toolbar Settings"
            android:theme="@style/Theme.MyApplication" />

        <activity
            android:name="com.example.ime.settings.DesktopShortcutsSettingsActivity"
            android:exported="false"
            android:label="Desktop Shortcuts Settings"
            android:theme="@style/Theme.MyApplication" />

        <activity
            android:name="com.example.logger.LogViewerActivity"
            android:exported="false"
            android:label="Log Keeper"
            android:theme="@style/Theme.MyApplication" />

        <service
            android:name="com.example.ime.VianBoardService"
            android:label="@string/ime_service_name"
            android:permission="android.permission.BIND_INPUT_METHOD"
            android:exported="true"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
